<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-nested-tree-node *cdkTreeNodeDef="let node">
      <div class="row">
        <span class="cell">{{ node.name }}</span>
        <span class="cell">{{ node.parent ? node.parent : node.name }}</span>
      </div>
    </cdk-nested-tree-node>
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChildren">
        <div
          cdkTreeNodeToggle
          [attr.aria-label]="'toggle' + node.name + 'node'"
          class="row"
        >
          <span class="cell">{{ node.name }}</span>
          <span class="cell">{{ node.parent }}</span>
        </div>
        <div
            [class.cdk-tree-node--collapsed]="!treeControl.isExpanded(node)"
            [class.cdk-tree-node--expanded]="treeControl.isExpanded(node)"
        >
            <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
    </cdk-nested-tree-node>
</cdk-tree>
